[submodule "blog/themes/adidoks"]
	path = blog/themes/adidoks
	url = https://github.com/aaranxu/adidoks.git
[submodule "blog/themes/adidoksdue"]
	path = blog/themes/adidoksdue
	url = https://github.com/DueUtil/adidoksdue.git
